

body, button {
	font-family: 'Comic Sans MS';
}

nav ul {
    text-align: center;
}

nav li {
    
    display: inline-block;
    border: 1px solid darkblue;
}


a:link {
    color: black;
    text-decoration: none;
    background-color: lightgray
}

a:visited {
    color: black;
    background-color: lightgray;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: darkgray;
    text-decoration: none;
}

a:active {
    color: black;
    background-color: gray;
    text-decoration: none;
}

a.disabled {
    color: darkgray;
    background-color: white;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
}

.tab {
    display: block;
}


.topMargin {
    margin-top: 50px;
}

.latin {
	font-family: "Mael";
}

.npcSpeach {
    background-color: lightgray;
    border: groove;
    width: fit-content;
    heigt: fit-content;
}

.npcOffer {
    display: table-column;
    border:solid;
    width: fit-content;
    heigt: fit-content;
}

.ressourceBar {
    border: solid;
    display: inline-block;
}

.ressourceMeter {
    margin-right: 30px;
}

.npcOfferWall {
    margin-top: 50px;
    display: inline-flex;
    border:ridge;
}

.npcTradeButton {
    width: 100%;
    margin-top:20px;
}
